* {
  padding: 0;
  margin: 0;
}

div{
  z-index: 2;
  position: relative;
}

body{
  background-color: #333;
  color: #fff;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box{
  border-radius: 4px;
  position: relative;
  max-width: 800px;
  padding: 40px;
  display: table;
  background-color: white;
  color: black;

  .quote-text{
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;

    i{
      font-size: 1em;
      margin-right: 8px;
    }
  }

  .quote-author{
    width: 100%;
    height: auto;
    clear: both;
    font-weight: 400;
    padding-top: 20px;
    font-size: 1.2em;
    text-align: center;
  }

  .get-quotes{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.btn{
  outline: none !important;
}

.btn-primary{
  box-shadow: none !important;
  outline: 0px !important;
  border-color: transparent !important;
  color: white;
  font-size: 1.2em;

  .btn:hover{
    box-shadow: none !important;
  }

  .btn-primary:hover{
    box-shadow: none !important;
  }
}
